*{
  display: inline-block;
  font-family: Verdana, Arial, sans-serif;
  background-color: gray;
  border: 1px solid red;
  margin: 0px;
}
p{
  background-color: green;
}
.box{
  background-color: blue;
  height: 300px;
  width: 400px;
}
/*
header{
  display: block;
  width: 50%;
}
h2{
  margin: 0;
  background-image: url("../images/img-story-main.png");
}
p{
  display: block;
  margin: 10px auto; /* only small numbers work; otherwise top collapses or something
  max-width:300px;
}
span{
  margin: 10px;
}
nav{
  text-align: right;
  margin-bottom: 10px;
}
nav a{
  text-decoration: none;
  color: white;
}
nav li{
  display: inline;
  margin: 10px;
}
.story-lead{
  display: inline-block;
  position: absolute;
  top : 200px;
  left: 200px
  width: 300px;
  height: 500px;
  background-color: purple;
}
.story-lead p{
}
*/
