*{
  display: block;
  font-family: Verdana, Arial, sans-serif;
  background-color: gray;
  border: 1px solid red;
  margin: 0px;
}
p{
  background-color: green;
}
.box{
  background-color: blue;
  min-height: 300px;
  width: 400px;
}
span{
  font-weight: bold;
}
